{% extends 'base.html' %}
{% load static %}
{% block title %} write {% endblock title %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/communities.css' %}"> 
{% endblock header %}
{% block content %}

<div class="cmty--container">
  <div class="cmty--title">
    커뮤니티 글 작성
    <span>{{ user.first_name }}님, 혼거동락에서 다양한 사람을 만나고 생각의 폭을 넓혀보세요.</span>
  </div>

  <form action="{% url 'communities:create' %}" method="POST">
    {% csrf_token %}
    {{ post_form.media }}
    <div class="d-flex gap-1">
      {{ post_form.category }}
      {{ post_form.title }}
    </div>
    <input type="text" name="tag" id="tag" placeholder="#태그 [콤마(,)로 구분 해 주세요]" class="cmty--form" autocomplete="off">
    {{ post_form.content }} 
    <input type="submit" value="등록" class="create--btn">
    
  </form>
</div>

<script src="{% static 'js/communities.js' %}"></script>
{% endblock content %}