{% extends 'base.html' %}
{% load static %}
{% load customtags %}
{% block title %} 
  {{ post.title }}
{% endblock title %}

{% block header %}
  <link rel="stylesheet" href="{% static 'css/communities_detail.css' %}">
{% endblock header %}

{% block content %}

<div class='communities--detail'>
  <div class='communities--detail--container'>

    {% comment %} 박태양이 배너 {% endcomment %}
    <a href="??" class='sun_banner'>
      <img src="{% static 'image/sun.png' %}" alt="sun">
    </a>

    <header class='communities--detail--category'>
      <section class='hr1'></section>
      <div>
        <span>커뮤니티</span> / <span>{{ post.category }}</span>
      </div>
      <section class='hr2'></section>
    </header>

    <div class='communities--detail--profile'>
      <a class='communities--detail--profile--header' href="{% url 'accounts:profile' post.user.username %}">
        {% if post.user.image %}
          <img src="{{ post.user.image.url }}" alt="{{ post.user }}">
        {% else %}
          <img src="{% static 'image/noimage.png' %}" alt="noimage">
        {% endif %}
      </a>

      <div>
        <h1>{{ post.user.first_name }}</h1>

        <h2>
          {{ post.user.town }}<span>&nbsp;·&nbsp;</span>{{ post.created_time }}<span>&nbsp;·&nbsp;</span><i class="bi bi-eye"></i><span class='communities--views--count'> {{ post.views }}</span>
        </h2>
      </div>

      <footer>
        <section>
          <button id='communities--detail--share'>
            <i class="bi bi-share"></i>
          </button>

          <div class='communities--detail--share--collapse d-none'>
            <button id='communities--detail--share--collapse--url'>
              <i class="bi bi-cloud-arrow-up-fill"></i> <span>URL</span>
            </button>
  
            <a href="https://twitter.com/intent/tweet?text=혼거동락_{{ post.title }}&url=http://127.0.0.1:8000/markets/{{ post.pk }}/" data-toggle="tooltip" data-placement="top" title="" target="_blank" rel="noopener" aria-label="Twitter" data-original-title="Twitter">
              <i class="bi bi-twitter"></i> <span>Twitter</span>
            </a>
  
            <a id="kakaotalk-sharing-btn" href="javascript:shareMessage()">
              <i class="bi bi-chat-fill"></i> <span>KaKao</span>
            </a>
          </div>

          <form id='communities--detail--scrape' data-post-id="{{ post.pk }}">
            {% csrf_token %}
            <button type='submit'>
              {% if request.user in post.scrape_users.all %}
                <i class="bi bi-bookmark-fill" style='color: #34568b;'></i>
              {% else %}
                <i class="bi bi-bookmark"></i>
              {% endif %}
            </button>
          </form>

          {% if request.user == post.user %}
            <button id='communities--detail--update--button'>
              <i class="bi bi-three-dots"></i>
            </button>
          {% endif %}

          <div id='communities--detail--update--modal' style='display: none;'>
            <a href="{% url 'communities:update' post.pk %}"><i class="bi bi-pencil-square"></i> 수정하기</a>
            <form action="{% url 'communities:delete' post.pk %}" method="POST">
              {% csrf_token %}
              <button type='submit'><i class="bi bi-trash"></i> 삭제하기</button>
            </form>
          </div>
        </section>
      </footer>
    </div>

    <div class='communities--detail--section'>
      <header class='communities--detail--section--title'>
        {{ post.title }}
      </header>

      <section class='communities--detail--section--content'>
        {{ post.content|safe }}
      </section>

      <footer class='communities--detail--section--footer'>
        <header>
          {% for tag in post.tags.all %}
            <a href="{% url 'communities:index' %}?tag={{ tag }}">#{{ tag }}</a>
          {% endfor %}
        </header>

        <section>
          <form class='communities--detail--section--likeform' data-post-id="{{ post.pk }}">
            {% csrf_token %}
            <button class='section--likeform--dislikebtn' name='like_value' value='dislike' type='submit'>
              <i class="bi bi-chevron-down" {% if request.user in post.dislike_users.all %}style='color: rgb(214, 38, 7);'{% endif %}></i>
            </button>

            <div class='section--likeform--likecount'>
              {{ likes_count }}
            </div>

            <button class='section--likeform--likebtn' name='like_value' value='like' type='submit'>
              <i class="bi bi-chevron-up" {% if request.user in post.like_users.all %}style='color: rgb(0, 185, 222);'{% endif %}></i>
            </button>
          </form>
        </section>
      </footer>
    </div>

    <div class='communities--detail--section--comment'>
      <h2>댓글 <span>{{ post.comments.count }}</span></h2>

      {% if user.is_authenticated %}
        <button class='communities--detail--section--commentcreate--btn'>
          <div>
            {% if request.user.image %}
              <img src="{{ request.user.image.url }}" alt="{{ request.user.username }}">
            {% else %}
              <img src="{% static 'image/noimage.png' %}" alt="noimage">
            {% endif %}
          </div>

          <h1>
            {{ request.user.first_name }}님, 댓글을 작성해 보세요.
          </h1>
        </button>

        <form id='communities--detail--section--commentcreate' style='display: none;' action="{% url 'communities:comment_create' post.pk 0 %}" method="POST">
          {% csrf_token %}
          {{ comment_form.content }}

          <div class='d-flex flex-row-reverse mt-2'>
            <button class='comment-submit' type='submit'>등록</button>
            <button class='comment-cancle' type='button'>취소</button>
          </div>
        </form> 
      {% endif %}
    </div>

    <div class='communities--detail--section--commentcontainer'>
      {% for comment in comments %}
        <div class='communities--detail--section--commentitem' id='comment-{{ comment.pk }}'>
          <div class='communities--detail--section--commentlist'>
            <header>
              <header>
                {% if comment.user.image %}
                  <img src="{{ comment.user.image.url }}" alt="{{ comment.user.username }}">
                {% else %}
                  <img src="{% static 'image/noimage.png' %}" alt="noimage">
                {% endif %}
              </header>

              <section>
                {{ comment.user.first_name }}
              </section>

              <footer>
                {{ comment.created_time }}
              </footer>

              <div class='communities--detail--section--commentlist--headerend'>
                <div>
                  <form class='communities--detail--section--likeform' data-post-id="{{ post.pk }}" data-comment-id="{{ comment.pk }}">
                    {% csrf_token %}
                    <button class='section--likeform--dislikebtn' name='like_value' value='dislike' type='submit'>
                      <i class="bi bi-chevron-down" {% if request.user in comment.dislike_users.all %}style='color: rgb(214, 38, 7);'{% endif %}></i>
                    </button>
        
                    <div class='section--likeform--likecount' style='justify-content: center;'>
                      {{ comment.likes_count }}
                    </div>
        
                    <button class='section--likeform--likebtn' name='like_value' value='like' type='submit'>
                      <i class="bi bi-chevron-up" {% if request.user in comment.like_users.all %}style='color: rgb(0, 185, 222);'{% endif %}></i>
                    </button>
                  </form>
                  
                  {% if request.user == comment.user %}
                    <form action="{% url 'communities:comment_delete' post.pk comment.pk %}" method="POST">
                      {% csrf_token %}
                      <button type='submit' class='pe-0' style='margin-top: 11.5px;'>삭제</button>
                    </form>

                    <button class='comment--update--button'>
                      수정
                    </button>
                  {% endif %}
                </div>
              </div>
            </header>

            <section class='communities--detail--section--commentlist--content'>
              <span class='communities--detail--comment--content--text'>
                {{ comment.content|linebreaksbr }}
              </span>
            </section>

            <footer class='communities--detail--section--commentlist--create'>
              <button class='recomment--create--button'>
                <i class="bi bi-chat-fill"></i> 
                댓글 쓰기
              </button>
            </footer>

          </div>

          <div class='communities--detail--section--comment--updateform d-none' style='padding-left: calc(20px + 2 * {{ comment.depth }}px);'>
            <form data-post-id="{{ post.pk }}" data-comment-id="{{ comment.pk }}">
              {% csrf_token %}
              {{ comment|get_communities_comment_update_form|safe }}

              <div class='d-flex flex-row-reverse'>
                <button class='comment-submit' type='submit'>등록</button>
                <button class='comment-cancle' type='button'>취소</button>
              </div>
            </form>
          </div>

          <div class='communities--detail--section--comment--createform d-none' style='padding-left: calc(20px + 2 * {{ comment.depth }}px);'>
            <form action="{% url 'communities:comment_create' post.pk comment.pk %}" method="POST">
              <div class='mb-2'>
                <i class="fa-sharp fa-solid fa-reply"></i>
                <span class='communities--detail--recomment--tag'>@{{ comment.user.first_name }}</span>
              </div>
              {% csrf_token %}
              {{ comment_form.content }}

              <div class='d-flex flex-row-reverse'>
                <button class='comment-submit' type='submit'>등록</button>
                <button class='comment-cancle' type='button'>취소</button>
              </div>
            </form>
          </div>
        </div>

        {% if comment.child_comments.all %}
          <div class='communities--detail--section--recomment'>
            {% for c in comment.child_comments.all %}
              {% include "communities/recursive_comment.html" with recursive_comment=c %}
            {% endfor %}
          </div>
        {% endif %}
          
      {% endfor %}
    </div>

    {% comment %} 알림창 {% endcomment %}
    <div id='communities--detail--alert' style='display: none;'>
      <h1>스크랩목록에 추가됐어요.</h1>
      
      <a href="{% url 'accounts:profile' request.user.username %}?cate=communities">스크랩목록보기</a>
    </div>
  </div>
</div>

<script src="{% static 'js/communities_detail.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  {% if comment %}
    $(document).ready(function() {
      var targetScrollPosition = $('#{{ comment_section_id }}').offset().top - 100;

      $('html, body').animate({
        scrollTop: targetScrollPosition
      }, 500);
    });
  {% endif %}
</script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.2.0/kakao.min.js"
  integrity="sha384-x+WG2i7pOR+oWb6O5GV5f1KN2Ko6N7PTGPS7UlasYWNxZMKQA63Cj/B2lbUmUfuC" crossorigin="anonymous"></script>
<script>
  Kakao.init('{{ KAKAO_JS_KEY }}'); // 사용하려는 앱의 JavaScript 키 입력
</script>
<script>
  function shareMessage() {
    Kakao.Share.sendDefault({
      objectType: 'feed',
      content: {
        title: '{{ post.title }}',
        description: '커뮤니티',
        imageUrl: 'https://pbs.twimg.com/media/FKQuyJjXEAQvzeq.jpg',
        link: {
          // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
          webUrl: 'http://127.0.0.1:8000/',
        },
      },
      social: {
        likeCount: {{ post.like_users.count }},
        commentCount: {{ post.comments.count }},
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            webUrl: 'http://127.0.0.1:8000/communities/{{ post.pk }}/',
          },
        },
      ],
    });
  }
</script>
{% endblock content %}