{% extends 'base.html' %}
{% load static %}
{% block title %} Communities {% endblock title %}

{% block style %}
    .tag-cloud{
        width: 40%;
        margin-left: 30px;
        text-align: center;
        padding: 5px;
        border: 1px solid orange;
        background-color: #ffc;
    }
    .tag-1 {font-size: 12px}
    .tag-2 {font-size: 14px}
    .tag-3 {font-size: 16px}
    .tag-4 {font-size: 18px}
    .tag-5 {font-size: 20px}
    .tag-6 {font-size: 24px}
{% endblock style %}

{% block content %}

<form action="{% url 'communities:index' %}">
  <div class="search_container input-group flex-nowrap">
    <span class="search-icon"><i class="bi bi-search"></i></span>
    <input type="text" class="search_text" placeholder="검색어를 입력하세요" name="q">
    <input type="submit" class="search_submit" value="검 색">
  </div>
</form>

<form action="{% url 'communities:index' %}">
  <input type='submit' value='전체'>
  {% for category in categories %}
    <input type='submit' name='category' value='{{ category }}'>
  {% endfor %}
</form>

{% for post in posts %}
<ul>
  <li>{{ post.user.username }}</li>
  <li><a href="{% url 'communities:detail' post.pk %}">{{ post.title }}</a></li>
  <li>카테고리 : {{ post.category }}</li>
  <li>{{ post.created_time }}</li>
  <li>조회수 : {{ post.views }}</li>
  <li>댓글 수 : {{ post.comments.count }}</li>
  <li>좋아요 수 : {{ post.like_users.count }}</li>
  {% if post.tags.all %}
    <form action="{% url 'communities:index' %}">
      {% for tag in post.tags.all %}
      <input type="hidden" name='category' value='{{ request.GET.category }}'>
      <input type='submit' name='tag' value='{{ tag.name }}' class="rounded-pill bg-success" style="color: white; border: 0;">
      {% endfor %}
    </form>
  {% endif %}
</ul>
{% endfor %}

<div>
  {% for tag in filtered_tags %}
    <form action="{% url 'communities:index' %}">
      {% if tag.num_times != 0 %}
        <input type="hidden" name='category' value='{{ request.GET.category }}'>
        <input type="hidden" name='tag' value='{{ tag.name }}'>
        <input  class="underline" type="submit" value="{{tag.name}}({{tag.num_times}})">
      {% endif %}
    </form>
  {% endfor %}
</div>

{% endblock content %}