{% extends 'base.html' %}
{% load static %}
{% block title %} Communities {% endblock title %}

{% block style %}
    .tag-cloud{
        width: 40%;
        margin-left: 30px;
        text-align: center;
        padding: 5px;
        border: 1px solid orange;
        background-color: #ffc;
    }
    .tag-1 {font-size: 12px}
    .tag-2 {font-size: 14px}
    .tag-3 {font-size: 16px}
    .tag-4 {font-size: 18px}
    .tag-5 {font-size: 20px}
    .tag-6 {font-size: 24px}
{% endblock style %}
{% block content %}
<form action="{% url 'communities:search' %}" method='GET'>
  <div class="search_container input-group flex-nowrap">
    <span class="search-icon"><i class="bi bi-search"></i></span>
    <input type="text" class="search_text" placeholder="검색어를 입력하세요" name="search">
    <input type="submit" class="search_submit" value="검 색">
  </div>
</form>

<form action="{% url 'communities:index' %}">
  {% for category in categories %}
    {% if category %}
    <input type='submit' name='cate' value='{{ category }}'>
    {% else %}
    <input type='submit' value='전체'>
    {% endif %}
  {% endfor %}
</form>

{% for post in posts %}
<ul>
  <li>{{ post.user.username }}</li>
  <li><a href="{% url 'communities:detail' post.pk %}">{{ post.title }}</a></li>
  <li>카테고리 : {{ post.category }}</li>
  <li>{{ post.created_time }}</li>
  <li>조회수 : {{ post.views }}</li>
  <li>댓글 수 : {{ post.comments.count }}</li>
  <li>좋아요 수 : {{ post.like_users.count }}</li>
  {% if post.tags.all %}
    {% for tag in post.tags.all %}
    <a style="text-decoration: none" href="{% url 'communities:tagged_object_list' tag.name %}">
      <span class="badge rounded-pill bg-success">{{ tag.name }}</span>
    </a>
    {% endfor %}
  {% endif %}
</ul>
{% endfor %}

<div class="tag-cloud">
  {% load taggit_templatetags2_tags %}
  {% get_tagcloud as tags %} <!--모든 태그 추출해서 tags변수에 할당-->
  {% for tag in tags %}
    {% if tag.num_times != 0 %}
    <span class="tag-{{tag.weight|floatformat:0}}"> <!-- style 관련-->
        <a href="{% url 'communities:tagged_object_list' tag.name %}"> {{tag.name}}({{tag.num_times}})</a>
    </span>
    {% endif %}
  {% endfor %}
</div>



{% endblock content %}