<!--create.html-->


{% comment %}
<form action="{% url 'communities:create' %}" method="POST">
  {% csrf_token %}
  {{ post_form.as_p }}
  {{ post_form.media }}
  <div>
    <label for="tag">이 글의 태그</label>
    <input type="text" name="tag" id="tag" placeholder="콤마(,)로 구분 해 주세요">
  </div>
  <input type="submit">
</form>
{% endcomment %}










<!--detail.html-->

{% comment %}
<ul>
  <li>{{ post.user.username }}</li>
  <li>{{ post.title }}</li>
  <li>{{ post.content|safe }}</li>
  <li>{{ post.category }}</li>
  <li>{{ post.views }}</li>
  <li>{{ post.created_time }}</li>
  {% if post.tags.all %}
    {% for tag in post.tags.all %}
    <a style="text-decoration: none" href="#">
      <span class="badge rounded-pill bg-success">{{ tag.name }}</span>
    </a>
    {% endfor %}
  {% endif %}
</ul>

{% if post.user == user %}
  <a href="{% url 'communities:update' post.pk %}">UPDATE</a>
  <form action="{% url 'communities:delete' post.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
{% else %}
  <form action="{% url 'communities:likes' post.pk %}" method="POST" class="like-forms" data-post-id="{{ post.pk }}">
    {% csrf_token %}
    {% if request.user in post.like_users.all %}
      <input type="submit" value="좋아요 취소" id="like-{{ post.pk }}">
    {% else %}
      <input type="submit" value="좋아요" id="like-{{ post.pk }}">
    {% endif %}
  </form>
  <form action="{% url 'communities:dislikes' post.pk %}" method="POST" class="dislike-forms" data-post-id="{{ post.pk }}">
    {% csrf_token %}
    {% if request.user in post.dislike_users.all %}
      <input type="submit" value="싫어요 취소" id="dislike-{{ post.pk }}">
    {% else %}
      <input type="submit" value="싫어요" id="dislike-{{ post.pk }}">
    {% endif %}
  </form>
{% endif %}

<form action="{% url 'communities:comment_create' post.pk 0 %}" method="POST">
  {% csrf_token %}
  {{ comment_form.as_p }}
  {{ comment_form.media }}
  <input type="submit" value="COMMENT">
</form>

{% for comment in comments %}
<ul>
  <li>{{ comment.user.username }}</li>
  <li>{{ comment.content|safe }}</li>
  <li>{{ comment.created_time }}</li>
  {% if comment.user == user %}
    <form action="{% url 'communities:comment_update' post.pk comment.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" value="COMMENT UPDATE">
    </form>
    <form action="{% url 'communities:comment_delete' post.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="COMMENT DELETE">
    </form>
  {% else %}
    <form action="{% url 'communities:comment_likes' post.pk comment.pk %}" method="POST" class="comment-like-forms" data-post-id="{{ post.pk }}" data-comment-id="{{ comment.pk }}">
      {% csrf_token %}
      {% if request.user in comment.like_users.all %}
        <input type="submit" value="댓글 좋아요 취소" id="comment-like-{{ comment.pk }}">
      {% else %}
        <input type="submit" value="댓글 좋아요" id="comment-like-{{ comment.pk }}">
      {% endif %}
    </form>
    <form action="{% url 'communities:comment_dislikes' post.pk comment.pk %}" method="POST" class="comment-dislike-forms" data-post-id="{{ post.pk }}" data-comment-id="{{ comment.pk }}">
      {% csrf_token %}
      {% if request.user in comment.dislike_users.all %}
        <input type="submit" value="댓글 싫어요 취소" id="comment-dislike-{{ comment.pk }}">
      {% else %}
        <input type="submit" value="댓글 싫어요" id="comment-dislike-{{ comment.pk }}">
      {% endif %}
    </form>
  {% endif %}
</ul>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const likeforms = document.querySelectorAll('.like-forms')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  likeforms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const postId = event.target.dataset.postId
      axios({
        method: 'post',
        url: `/communities/${postId}/likes/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then((response) => {
        const isLiked = response.data.is_liked
        const likeBtn = document.querySelector(`#like-${postId}`)
        if (isLiked === true) {
          likeBtn.value = '좋아요 취소'
        } else {
          likeBtn.value = '좋아요'
        }
      })
      .catch((error) => {
        console.log(error.response)
      })
    })
  })

  const dislikeforms = document.querySelectorAll('.dislike-forms')
  dislikeforms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const postId = event.target.dataset.postId
      axios({
        method: 'post',
        url: `/communities/${postId}/dislikes/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then((response) => {
        const isDisliked = response.data.is_disliked
        const dislikeBtn = document.querySelector(`#dislike-${postId}`)
        if (isDisliked === true) {
          dislikeBtn.value = '싫어요 취소'
        } else {
          dislikeBtn.value = '싫어요'
        }
      })
      .catch((error) => {
        console.log(error.response)
      })
    })
  })

  const commentlikeforms = document.querySelectorAll('.comment-like-forms')
  commentlikeforms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const postId = event.target.dataset.postId
      const commentId = event.target.dataset.commentId
      axios({
        method: 'post',
        url: `/communities/${postId}/comment/${commentId}/likes/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then((response) => {
        const commentisLiked = response.data.comment_is_liked
        const commentlikeBtn = document.querySelector(`#comment-like-${commentId}`)
        if (commentisLiked === true) {
          commentlikeBtn.value = '댓글 좋아요 취소'
        } else {
          commentlikeBtn.value = '댓글 좋아요'
        }
      })
      .catch((error) => {
        console.log(error.response)
      })
    })
  })

  const commentdislikeforms = document.querySelectorAll('.comment-dislike-forms')
  commentdislikeforms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const postId = event.target.dataset.postId
      const commentId = event.target.dataset.commentId
      axios({
        method: 'post',
        url: `/communities/${postId}/comment/${commentId}/dislikes/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then((response) => {
        const commentisDisliked = response.data.comment_is_disliked
        const commentdislikeBtn = document.querySelector(`#comment-dislike-${commentId}`)
        if (commentisDisliked === true) {
          commentdislikeBtn.value = '댓글 싫어요 취소'
        } else {
          commentdislikeBtn.value = '댓글 싫어요'
        }
      })
      .catch((error) => {
        console.log(error.response)
      })
    })
  })
</script>
{% endcomment %}









<!--index.html-->

{% comment %}
{% block style %}
    .tag-cloud{
        width: 40%;
        margin-left: 30px;
        text-align: center;
        padding: 5px;
        border: 1px solid orange;
        background-color: #ffc;
    }
    .tag-1 {font-size: 12px}
    .tag-2 {font-size: 14px}
    .tag-3 {font-size: 16px}
    .tag-4 {font-size: 18px}
    .tag-5 {font-size: 20px}
    .tag-6 {font-size: 24px}

    input.underline {
      border-left-width:0;
      border-right-width:0;
      border-top-width:0;
      border-bottom-width:1;
      background: none;
      }
{% endblock style %}
{% block content %}

<form action="{% url 'communities:index' %}">
  <div class="search_container input-group flex-nowrap">
    <span class="search-icon"><i class="bi bi-search"></i></span>
    <input type="text" class="search_text" placeholder="검색어를 입력하세요" name="q">
    <input type="submit" class="search_submit" value="검 색">
  </div>
</form>

<form action="{% url 'communities:index' %}">
  <input type='submit' value='전체'>
  {% for category in categories %}
    <input type='submit' name='category' value='{{ category }}'>
  {% endfor %}
</form>

{% for post in posts %}
<ul>
  <li>{{ post.user.username }}</li>
  <li><a href="{% url 'communities:detail' post.pk %}">{{ post.title }}</a></li>
  <li>카테고리 : {{ post.category }}</li>
  <li>{{ post.created_time }}</li>
  <li>조회수 : {{ post.views }}</li>
  <li>댓글 수 : {{ post.comments.count }}</li>
  <li>좋아요 수 : {{ post.like_users.count }}</li>
  {% if post.tags.all %}
    <form action="{% url 'communities:index' %}">
      {% for tag in post.tags.all %}
      <input type="hidden" name='category' value='{{ request.GET.category }}'>
      <input type='submit' name='tag' value='{{ tag.name }}' class="rounded-pill bg-success" style="color: white; border: 0;">
      {% endfor %}
    </form>
  {% endif %}
</ul>
{% endfor %}

<div>
  {% for tag in filtered_tags %}
    <form action="{% url 'communities:index' %}">
      {% if tag.num_times != 0 %}
        <input type="hidden" name='category' value='{{ request.GET.category }}'>
        <input type="hidden" name='tag' value='{{ tag.name }}'>
        <input  class="underline" type="submit" value="{{tag.name}}({{tag.num_times}})">
      {% endif %}
    </form>
  {% endfor %}
</div>
{% endcomment %}












<!--update.html-->

{% comment %}
<form action="{% url 'communities:update' post.pk %}" method="POST">
  {% csrf_token %}
  {{ update_form.as_p }}
  {{ update_form.media }}
  <div>
    <label for="tag">이 글의 태그</label>
    <input type="text" name="tag" id="tag" placeholder="콤마(,)로 구분 해 주세요">
  </div>
  <input type="submit">
</form>
{% endcomment %}














<!--search.html-->

{% comment %}
<div class="container-md my-5">
  <form action="{% url 'communities:search' %}" method='GET'>
    <div class="search_container input-group flex-nowrap">
      <span class="search-icon"><i class="bi bi-search"></i></span>
      <input type="text" class="search_text" placeholder="검색어를 입력하세요" name="search">
      <input type="submit" class="search_submit" value="검 색">
    </div>
  </form>
  {% if search_text %}
    <h3 class="m-3">검색하신 <span>{{ search_text }}</span>에 대한 검색 결과입니다.</h3>
    {% for post in search_list %}
      <a href="{% url 'communities:detail' post.pk %}" class="d-flex p-2 text-decoration-none text-dark">
        <ul>
          <a href="{% url 'communities:detail' post.pk %}">
            <li>{{ post.user.username }}</li>
            <li>{{ post.title }}</li>
            <li>{{ post.category }}</li>
          </a>
        </ul>
      </a>
    {% empty %}
      <h3><span>{{ search_text }}</span>에 대한 결과가 없습니다.</h3>
    {% endfor %}
  {% else %}
    <h3>검색어를 입력해주세요.</h3>
  {% endif %}
</div>
{% endcomment %}
















<!--tag_with_post.html-->

{% comment %}
<h1>Posts for tag - {{ tagname }}</h1>
<br>
{% for post in object_list %} <!-- object_list 객체는 TaggedObjectLV 클래스형 뷰에서 넘겨주는 컨텍스트 변수로서 Post 리스트가 담겨있음-->
    <h2><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
    {{ post.modify_dt|date:"N d, Y" }}
    <p> {{ post.description }}</p>
{% endfor %}
{% endcomment %}