{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load customtags %}

{% block title %} {{ post.title }} {% endblock title %}

{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/moims_detail.css' %}">

  <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
  <script src="{% static 'owlcarousel/owl.carousel.js' %}"></script>
  
  <link rel="stylesheet" href="{% static 'css/markets_detail.css' %}">
{% endblock header %}

{% block content %}

  <div class='moims--detail'>
    <div class='moims--detail--container'>
      <header class='moims--detail--header'>
        <div>
          <a {% if post.category == 'once' %}href="{% url 'moims:index' %}?category=once"{% else %}href="{% url 'moims:index' %}"{% endif %}>
            <i class="bi bi-arrow-left-short"></i>
          </a>
  
          <section>{{ post.title }}</section>
        </div>

        <button id='moims--detail--share'>
          <i class="bi bi-share"></i>
        </button>

        <section class='moims--detail--share--collapse d-none'>
          <button id='moims--detail--share--url'>
            <i class="bi bi-cloud-arrow-up-fill"></i> <span>URL</span>
          </button>
      
          <a href="https://twitter.com/intent/tweet?text=혼거동락_{{ post.title }}&url=http://127.0.0.1:8000/moims/{{ post.pk }}/" data-toggle="tooltip" data-placement="top" title="" target="_blank" rel="noopener" aria-label="Twitter" data-original-title="Twitter">
            <i class="bi bi-twitter"></i> <span>Twitter</span>
          </a>
      
          <a id="kakaotalk-sharing-btn" href="javascript:shareMessage()">
            <i class="bi bi-chat-fill"></i> <span>KaKao</span>
          </a>

          <!--구글캘린더에 공유-->
          {% if post.category == "once" %}
            <form class='moims--detail--calendar' data-post-id="{{ post.pk }}">
              {% csrf_token %}
              <button type="submit" class="submit-button">
                <i class="bi bi-calendar-event-fill"></i> <span>Calendar</span>
              </button>
            </form>
          {% endif %}
        </section>
      </header>

      <section class='moims--detail--section'>
        <header class='moims--detail--section--header'>
          <img src="{{ post.image_first.url }}" alt="{{ post.image }}">
        </header>

        <section class='moims--detail--section--head'>
          <a class='moims--detail--section--head--header' href="{% url 'accounts:profile' post.user.username %}">
            {% if post.user.image %}
              <img src="{{ post.user.image.url }}" alt="{{ post.user }}">
            {% else %}
              <img src="{% static 'image/noimage.png' %}" alt="noimage">
            {% endif %}
          </a>
 
          <div>
            <h1>{{ post.title }}</h1>

            <h2>
              {{ post.user.first_name }}<span>&nbsp;·&nbsp;</span>{{ post.user.town }}<span>&nbsp;·&nbsp;</span>멤버 <span class='join--users--count'>{{ post.join_users.count }}</span>
            </h2>
          </div>

          <footer>
            <section>
              {% if request.user == post.user %}
                <a href="{% url 'moims:update' post.pk %}">수정</a>
                <form action="{% url 'moims:delete' post.pk %}" method="POST">
                  {% csrf_token %}
                  <button type='submit'>삭제</button>
                </form>
              {% endif %}
              <h3>{{ post.created_time }}</h3>
            </section>
          </footer>
        </section>

        <div class='moims--detail--section--information'>
          <h1>
            <i class="bi bi-geo-alt"></i> 
            {{ post.address }} {{ post.detail_address }}
          </h1>

          <h2>
            <i class="bi bi-calendar"></i> 
            {% if post.category == 'once' %}
              {{ post.once_datetime|date:"D H:i n/j"|lower }}
            {% else %}
              {{ post.many_datetime }}
            {% endif %}
          </h2>

          <h3>
            <i class="bi bi-person"></i> 
            1~{{ post.limit }}명
          </h3>

          <h4>
            <i class="fas fa-won-sign"></i> 
            {% if post.price %}
              {{ post.price|intcomma }}원
            {% else %}
              무료
            {% endif %}
          </h4>
        </div>

        <div class='moims--detail--section--content'>
          {{ post.content|linebreaksbr }}
        </div>

        <div class='moims--detail--section--map'>
          <div id="map"></div>
        </div>

        <div class='moims--detail--section--member'>
          <h1>참여 멤버 (<span>{{ post.join_users.count }}</span>/{{ post.limit }})</h1>

          <div class="owl-carousel owl-theme">
            {% for join_user in join_users %}
              <a class='moims--detail--section--member--item' href="{% url 'accounts:profile' join_user.username %}">
                {% if join_user.image %}
                  <img src="{{ join_user.image.url }}" alt="{{ join_user }}">
                {% else %}
                  <img src="{% static 'image/noimage.png' %}" alt="noimage">
                {% endif %}
                {% if forloop.counter == 1 %}
                  <div class='moims--detail--section--member--crown'>
                    <img src="{% static 'image/crown.png' %}" alt="crown">
                  </div>
                {% endif %}
              </a>
            {% endfor %}

            <a class='moims--detail--section--member--item request--user--carousel d-none' href="{% url 'accounts:profile' request.user.username %}">
              {% if request.user.image %}
                <img src="{{ request.user.image.url }}" alt="{{ request.user }}">
              {% else %}
                <img src="{% static 'image/noimage.png' %}" alt="noimage">
              {% endif %}
            </a>
          </div>
        </div>

        <div class='moims--detail--section--comment'>
          <h2>댓글 <span>{{ post.comments.count }}</span></h2>

          {% if user.is_authenticated %}
            <button class='moims--detail--section--commentcreate--btn'>
              <div>
                {% if request.user.image %}
                  <img src="{{ request.user.image.url }}" alt="{{ request.user.username }}">
                {% else %}
                  <img src="{% static 'image/noimage.png' %}" alt="noimage">
                {% endif %}
              </div>
   
              <h1>
                {{ request.user.first_name }}님, 질문을 작성해 보세요.
              </h1>
            </button>
  
            <form id='moims--detail--section--commentcreate' style='display: none;' action="{% url 'moims:comment_create' post.pk 0 %}" method="POST">
              {% csrf_token %}
              {{ comment_form.content }}
              <div class='d-flex flex-row-reverse'>
                <button class='comment-submit' type='submit'>등록</button>
                <button class='comment-cancle' type='button'>취소</button>
              </div>
            </form> 
          {% endif %}
        </div>

        <div class='moims--detail--section--commentcontainer'>
          {% for comment in comments %}
            <div class='moims--detail--section--commentitem' id='comment-{{ comment.pk }}'>
              <div class='moims--detail--section--commentlist'>
                <header>
                  <header>
                    {% if comment.user.image %}
                      <img src="{{ comment.user.image.url }}" alt="{{ comment.user.username }}">
                    {% else %}
                      <img src="{% static 'image/noimage.png' %}" alt="noimage">
                    {% endif %}
                  </header>
    
                  <section>
                    {{ comment.user.first_name }}
                  </section>
    
                  <footer>
                    {{ comment.created_time }}
                  </footer>
  
                  <div class='moims--detail--section--commentlist--headerend'>
                    <div>
                      <button class='recomment--create--button'>
                        <i class="bi bi-chat-fill"></i> 
                        댓글
                      </button>
                      
                      {% if request.user == comment.user %}
                        <form action="{% url 'moims:comment_delete' post.pk comment.pk %}" method="POST">
                          {% csrf_token %}
                          <button type='submit'>삭제</button>
                        </form>
  
                        <button class='comment--update--button'>
                          수정
                        </button>
                      {% endif %}
                    </div>
                  </div>
                </header>
    
                <section class='moims--detail--section--commentlist--content'>
                  <span class='moims--detail--comment--content--text'>
                    {{ comment.content|linebreaksbr }}
                  </span>
                </section>
    
              </div>
  
              <div class='moims--detail--section--comment--updateform d-none' style='padding-left: calc(20px + 2 * {{ comment.depth }}px);'>
                <form data-post-id="{{ post.pk }}" data-comment-id="{{ comment.pk }}">
                  {% csrf_token %}
                  {{ comment|get_comment_update_form|safe }}
                  <div class='d-flex flex-row-reverse'>
                    <button class='comment-submit' type='submit'>등록</button>
                    <button class='comment-cancle' type='button'>취소</button>
                  </div>
                </form>
              </div>

              <div class='moims--detail--section--comment--createform d-none' style='padding-left: calc(20px + 2 * {{ comment.depth }}px);'>
                <form action="{% url 'moims:comment_create' post.pk comment.pk %}" method="POST">
                  <div class='mb-2'>
                    <i class="fa-sharp fa-solid fa-reply"></i>
                    <span class='moims--detail--recomment--tag'>@{{ comment.user.first_name }}</span>
                  </div>
                  {% csrf_token %}
                  {{ comment_form.content }}
                  <div class='d-flex flex-row-reverse'>
                    <button class='comment-submit' type='submit'>등록</button>
                    <button class='comment-cancle' type='button'>취소</button>
                  </div>
                </form>
              </div>
            </div>

            {% if comment.child_comments.all %}
              <div class='moims--detail--section--recomment'>
                {% for c in comment.child_comments.all %}
                  {% include "moims/recursive_comment.html" with recursive_comment=c %}
                {% endfor %}
              </div>
            {% endif %}
              
          {% endfor %}
        </div>

        {% comment %} 알림창 {% endcomment %}
        <div id='moims--detail--alert' style='display: none;' data-user-name="{{ request.user.username }}">
          <h1>관심목록에 추가됐어요.</h1>
          
          <a href="{% url 'accounts:profile' request.user.username %}?cate=moims">관심목록보기</a>
        </div>
        
        <div class='moims--detail--section--botnavbar'>
          <div class='moims--detail--section--botnavbar-left'>
            <form id='moims--detail--like--form' data-post-id="{{ post.pk }}">
              {% csrf_token %}
              {% if request.user not in post.like_users.all %}
                <button type='submit'>
                  <i class="bi bi-heart"></i>
                </button>
              {% else %}
                <button type='submit'>
                  <i class="bi bi-heart-fill"></i>
                </button>
              {% endif %}
            </form>
          </div>

          <div class='moims--detail--section--botnavbar-right'>
            <form id='moims--detail--join--form' data-post-id='{{ post.pk }}'>
              {% csrf_token %}
                {% if request.user not in post.join_users.all %}
                  <button type='submit'>참여하기</button>
                {% else %}
                  {% if request.user != post.user %}
                    <button type='submit'>탈퇴하기</button>
                    {% if post.kakao_url %}
                      <button class='moims--detail--botnavbar--kakao kakao--btn--1' type='button' data-kakao-url='{{ post.kakao_url }}'>
                        <i class="bi bi-chat-fill"></i> 
                        카카오톡
                      </button>
                    {% endif %}
                  {% endif %}
                {% endif %}
                {% if post.kakao_url %}
                  <button class='moims--detail--botnavbar--kakao kakao--btn--2 d-none' type='button' data-kakao-url='{{ post.kakao_url }}'>
                    <i class="bi bi-chat-fill"></i> 
                    카카오톡
                  </button>
                {% endif %}
              </form>
            </div>
        </div>
      </section>
    </div>
  </div>

{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
<script src="{% static 'js/moims_detail.js' %}"></script>
<!--지도 생성 script-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_JS_KEY }}&libraries=services"></script>
<script>
  
  {% if comment %}
    $(document).ready(function() {
      var targetScrollPosition = $('#{{ comment_section_id }}').offset().top - 100;

      $('html, body').animate({
        scrollTop: targetScrollPosition
      }, 500);
    });
  {% endif %}

  $('.owl-carousel').owlCarousel({
      startPosition: false,
      loop:true,
      margin:20,
      responsiveClass:true,
      responsive:{
          0:{
              items:5,
              nav:false,
              loop:false
          },
          600:{
              items:7,
              nav:false,
              loop:false
          },
          1000:{
              items:9,
              nav:false,
              loop:false
          }
      }
  })

  var mapContainer = document.getElementById('map')
  var mapOption = {
    center: new kakao.maps.LatLng(33.450701, 126.570667),
    level: 3
  }
  var map = new kakao.maps.Map(mapContainer, mapOption)

  // 마커를 표시할 위치와 title 객체 배열입니다 
  var positions = [];

  // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
  var bounds = new kakao.maps.LatLngBounds(); 

  // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
  if (navigator.geolocation) {
      
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="width:150px;text-align:center;padding:6px 0;">현재 위치</div>'; // 인포윈도우에 표시될 내용입니다
        
        bounds.extend(locPosition);
        bounds.extend(new kakao.maps.LatLng(lat + 0.00065, lon + 0.00065)); // Extend bounds by adding 0.00065 to latitude and longitude
        map.setBounds(bounds);
        // Append the object to the positions array
        positions.push({ title: '현재 위치', latlng: locPosition });

        displayMarkers();
      });
    
  } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
    
    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
        message = '<div style="width:150px;text-align:center;padding:6px 0;">현재 위치를 사용할수 없어요</div>'
        
    displayMarker(locPosition, message);
  }

  // 주소로 좌표를 검색하고 맵을 업데이트하는 함수
  function updateMap(address, detailAddress) {
    var geocoder = new kakao.maps.services.Geocoder()
    geocoder.addressSearch(address, function(result, status) {
      if (status === kakao.maps.services.Status.OK) {
        var coords = new kakao.maps.LatLng(result[0].y, result[0].x)


        bounds.extend(coords);
        bounds.extend(new kakao.maps.LatLng(coords.getLat() + 0.00065, coords.getLng() + 0.00065)); // Extend bounds by adding 0.00065 to latitude and longitude
        map.setBounds(bounds);
        // Append the object to the positions array
        positions.push({ title: detailAddress, latlng: coords });

        displayMarkers();
      }
    });
  }

  // 마커 이미지의 이미지 주소입니다
  var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
      
  // Function to display the markers on the map
  function displayMarkers() {
    for (var i = 0; i < positions.length; i++) {
      // 마커 이미지의 이미지 크기 입니다
      var imageSize = new kakao.maps.Size(24, 35);

      // 마커 이미지를 생성합니다
      var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image: markerImage // 마커 이미지
      });

      // Create the content for the infowindow
      var lat = positions[i].latlng.getLat();
      var lng = positions[i].latlng.getLng();

      var iwContent = '<div style="width:150px;text-align:center;padding:6px 0;">' +
        positions[i].title + '<br>';
  
      // Add the link if title is not '현재위치'
      if (positions[i].title !== '현재 위치') {
        iwContent += '<a href="https://map.kakao.com/link/to/' +
          positions[i].title + ',' + lat + ',' + lng +
          '" class="moims--detail--map--target" target="_blank"><i class="fa-solid fa-location-arrow"></i><span>길찾기</span></a>';
      }
  
      iwContent += '</div>';
  
      // Create the infowindow
      var infowindow = new kakao.maps.InfoWindow({
        position: positions[i].latlng,
        content: iwContent
      });
  
      // Open the infowindow on the marker
      infowindow.open(map, marker);
    }
  }

  // Call the displayMarkers function once to show the initial markers
  displayMarkers();

  // 맵 크기가 변경될 때 중심 위치 업데이트하기
  function resizeMap() {
    var mapContainer = document.getElementById('map');
    var parentContainer = document.querySelector('.moims--detail--section--map');
    mapContainer.style.width = parentContainer.clientWidth - 40 + 'px';
    mapContainer.style.height = parentContainer.clientHeight - 40 + 'px';
    map.relayout();

    // 주소와 상세 주소를 가져와서 맵 업데이트
    var address = '{{ post.address }}';
    var detailAddress = '{{ post.detail_address }}';
    updateMap(address, detailAddress);
  }

  // 페이지 로드 후 맵 크기 조정 및 중심 위치 업데이트
  window.addEventListener('load', function() {
    resizeMap();
  });

  // 윈도우 리사이즈 이벤트 발생 시 맵 크기 조정 및 중심 위치 업데이트
  window.addEventListener('resize', function() {
    resizeMap();
  });
  
</script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.2.0/kakao.min.js"
  integrity="sha384-x+WG2i7pOR+oWb6O5GV5f1KN2Ko6N7PTGPS7UlasYWNxZMKQA63Cj/B2lbUmUfuC" crossorigin="anonymous"></script>
<script>
  Kakao.init('{{ KAKAO_JS_KEY }}'); // 사용하려는 앱의 JavaScript 키 입력
</script>
<script>
  function shareMessage() {
    Kakao.Share.sendDefault({
      objectType: 'feed',
      content: {
        title: '{{ post.title }}',
        description: '모임',
        imageUrl: 'https://i.pinimg.com/originals/02/0b/5c/020b5c474a758dd57e8e689e06514ab0.jpg',
        link: {
          // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
          webUrl: 'https://co-living.kro.kr/',
        },
      },
      social: {
        likeCount: {{ post.like_users.count }},
        commentCount: {{ post.comments.count }},
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            webUrl: 'https://co-living.kro.kr/{{ post.pk }}/',
          },
        },
      ],
    });
  }
</script>
{% endblock content %}