{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load customtags %}

{% block title %} moims_detail {% endblock title %}

{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/moims_detail.css' %}">

  <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
  <script src="{% static 'owlcarousel/owl.carousel.js' %}"></script>
  
  <link rel="stylesheet" href="{% static 'css/markets_detail.css' %}">
{% endblock header %}

{% block content %}

  <div class='moims--detail'>
    <div class='moims--detail--container'>
      <header class='moims--detail--header'>
        <div>
          <a {% if post.category == 'once' %}href="{% url 'moims:index' %}?category=once"{% else %}href="{% url 'moims:index' %}"{% endif %}>
            <i class="bi bi-arrow-left-short"></i>
          </a>
  
          <section>{{ post.title }}</section>
        </div>

        <button id='moims--detail--share'>
          <i class="bi bi-share"></i>
        </button>
      </header>

      <section class='moims--detail--section'>
        <header class='moims--detail--section--header'>
          <img src="{{ post.image_first.url }}" alt="{{ post.image }}">
        </header>

        <section class='moims--detail--section--head'>
          <a class='moims--detail--section--head--header' href="{% url 'accounts:profile' post.user.username %}">
            {% if post.user.image %}
              <img src="{{ post.user.image.url }}" alt="{{ post.user }}">
            {% else %}
              <img src="{% static 'image/noimage.png' %}" alt="noimage">
            {% endif %}
          </a>

          <div>
            <h1>{{ post.title }}</h1>

            <h2>
              {{ post.user.first_name }}<span>&nbsp;·&nbsp;</span>{{ post.user.town }}<span>&nbsp;·&nbsp;</span>멤버 <span class='join--users--count'>{{ post.join_users.count }}</span>
            </h2>
          </div>

          <footer>
            <section>
              {% if request.user == post.user %}
                <a href="{% url 'moims:update' post.pk %}">수정</a>
                <form action="{% url 'moims:delete' post.pk %}" method="POST">
                  {% csrf_token %}
                  <button type='submit'>삭제</button>
                </form>
              {% endif %}
              <h3>{{ post.created_time }}</h3>
            </section>
          </footer>
        </section>

        <div class='moims--detail--section--information'>
          <h1>
            <i class="bi bi-geo-alt"></i> 
            {{ post.address }} {{ post.detail_address }}
          </h1>

          <h2>
            <i class="bi bi-calendar"></i> 
            {% if post.category == 'once' %}
              {{ post.once_datetime|date:"D H:i n/j"|lower }}
            {% else %}
              {{ post.many_datetime }}
            {% endif %}
          </h2>

          <h3>
            <i class="bi bi-person"></i> 
            1~{{ post.limit }}명
          </h3>

          <h4>
            <i class="fas fa-won-sign"></i> 
            {% if post.price %}
              {{ post.price|intcomma }}원
            {% else %}
              무료
            {% endif %}
          </h4>
        </div>

        <div class='moims--detail--section--content'>
          {{ post.content|linebreaksbr }}
        </div>

        <div class='moims--detail--section--map'>
          <div id="map"></div>
        </div>

        <div class='moims--detail--section--member'>
          <h1>참여 멤버 (<span>{{ post.join_users.count }}</span>/{{ post.limit }})</h1>

          <div class="owl-carousel owl-theme">
            {% for join_user in post.join_users.all reversed %}
              <a class='moims--detail--section--member--item' href="{% url 'accounts:profile' join_user.username %}">
                {% if join_user.image %}
                  <img src="{{ join_user.image.url }}" alt="{{ join_user }}">
                {% else %}
                  <img src="{% static 'image/noimage.png' %}" alt="noimage">
                {% endif %}
                {% if forloop.counter == 1 %}
                  <div class='moims--detail--section--member--crown'>
                    <img src="{% static 'image/crown.png' %}" alt="crown">
                  </div>
                {% endif %}
              </a>
            {% endfor %}

            <a class='moims--detail--section--member--item request--user--carousel d-none' href="{% url 'accounts:profile' request.user.username %}">
              {% if request.user.image %}
                <img src="{{ request.user.image.url }}" alt="{{ request.user }}">
              {% else %}
                <img src="{% static 'image/noimage.png' %}" alt="noimage">
              {% endif %}
            </a>
          </div>
        </div>

        <div class='moims--detail--section--comment'>
          <h2>댓글 <span>{{ post.comments.count }}</span></h2>

          {% if user.is_authenticated %}
            <button class='moims--detail--section--commentcreate--btn'>
              <div>
                {% if request.user.image %}
                  <img src="{{ request.user.image.url }}" alt="{{ request.user.username }}">
                {% else %}
                  <img src="{% static 'image/noimage.png' %}" alt="noimage">
                {% endif %}
              </div>
  
              <h1>
                {{ request.user.first_name }}님, 질문을 작성해 보세요.
              </h1>
            </button>
  
            <form id='moims--detail--section--commentcreate' style='display: none;' action="{% url 'moims:comment_create' post.pk 0 %}" method="POST">
              {% csrf_token %}
              {{ comment_form.content }}
              <div class='d-flex flex-row-reverse'>
                <button class='comment-submit' type='submit'>등록</button>
                <button class='comment-cancle' type='button'>취소</button>
              </div>
            </form> 
          {% endif %}
        </div>

        <div class='moims--detail--section--commentcontainer'>
          {% for comment in comments %}
            <div class='moims--detail--section--commentitem' id='comment-{{ comment.pk }}'>
              <div class='moims--detail--section--commentlist'>
                <header>
                  <header>
                    {% if comment.user.image %}
                      <img src="{{ comment.user.image.url }}" alt="{{ comment.user.username }}">
                    {% else %}
                      <img src="{% static 'image/noimage.png' %}" alt="noimage">
                    {% endif %}
                  </header>
    
                  <section>
                    {{ comment.user.first_name }}
                  </section>
    
                  <footer>
                    {{ comment.created_time }}
                  </footer>
  
                  <div class='moims--detail--section--commentlist--headerend'>
                    <div>
                      <button class='recomment--create--button'>
                        <i class="bi bi-chat-fill"></i> 
                        댓글
                      </button>
                      
                      {% if request.user == comment.user %}
                        <form action="{% url 'moims:comment_delete' post.pk comment.pk %}" method="POST">
                          {% csrf_token %}
                          <button type='submit'>삭제</button>
                        </form>
  
                        <button class='comment--update--button'>
                          수정
                        </button>
                      {% endif %}
                    </div>
                  </div>
                </header>
    
                <section class='moims--detail--section--commentlist--content'>
                  <span class='moims--detail--comment--content--text'>
                    {{ comment.content|linebreaksbr }}
                  </span>
                </section>
    
              </div>
  
              <div class='moims--detail--section--comment--updateform d-none' style='padding-left: calc(20px + 2 * {{ comment.depth }}px);'>
                <form data-post-id="{{ post.pk }}" data-comment-id="{{ comment.pk }}">
                  {% csrf_token %}
                  {{ comment|get_comment_update_form|safe }}
                  <div class='d-flex flex-row-reverse'>
                    <button class='comment-submit' type='submit'>등록</button>
                    <button class='comment-cancle' type='button'>취소</button>
                  </div>
                </form>
              </div>

              <div class='moims--detail--section--comment--createform d-none' style='padding-left: calc(20px + 2 * {{ comment.depth }}px);'>
                <form action="{% url 'moims:comment_create' post.pk comment.pk %}" method="POST">
                  <div class='mb-2'>
                    <i class="fa-sharp fa-solid fa-reply"></i>
                    <span class='moims--detail--recomment--tag'>@{{ comment.user.first_name }}</span>
                  </div>
                  {% csrf_token %}
                  {{ comment_form.content }}
                  <div class='d-flex flex-row-reverse'>
                    <button class='comment-submit' type='submit'>등록</button>
                    <button class='comment-cancle' type='button'>취소</button>
                  </div>
                </form>
              </div>
            </div>

            {% if comment.child_comments.all %}
              <div class='moims--detail--section--recomment'>
                {% for c in comment.child_comments.all %}
                  {% include "moims/recursive_comment.html" with recursive_comment=c %}
                {% endfor %}
              </div>
            {% endif %}
              
          {% endfor %}
        </div>

        {% comment %} 알림창 {% endcomment %}
        <div id='moims--detail--alert' style='display: none;'>
          <h1>관심목록에 추가됐어요.</h1>
          
          <a href="{% url 'accounts:profile' request.user.username %}?cate=moims">관심목록보기</a>
        </div>
        
        <div class='moims--detail--section--botnavbar'>
          <div class='moims--detail--section--botnavbar-left'>
            <form id='moims--detail--like--form' data-post-id="{{ post.pk }}">
              {% csrf_token %}
              {% if request.user not in post.like_users.all %}
                <button type='submit'>
                  <i class="bi bi-heart"></i>
                </button>
              {% else %}
                <button type='submit'>
                  <i class="bi bi-heart-fill"></i>
                </button>
              {% endif %}
            </form>
          </div>

          <div class='moims--detail--section--botnavbar-right'>
            <form id='moims--detail--join--form' data-post-id='{{ post.pk }}'>
              {% csrf_token %}
                {% if request.user not in post.join_users.all %}
                  <button type='submit'>참여하기</button>
                {% else %}
                  {% if request.user != post.user %}
                    <button type='submit'>탈퇴하기</button>
                    <button class='moims--detail--botnavbar--kakao kakao--btn--1' type='button' data-kakao-url='{{ post.kakao_url }}'>
                      <i class="bi bi-chat-fill"></i> 
                      카카오톡
                    </button>
                  {% endif %}
                {% endif %}
                <button class='moims--detail--botnavbar--kakao kakao--btn--2 d-none' type='button' data-kakao-url='{{ post.kakao_url }}'>
                  <i class="bi bi-chat-fill"></i> 
                  카카오톡
                </button>
              </form>
            </div>
        </div>
      </section>
    </div>
  </div>


{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
<script src="{% static 'js/moims_detail.js' %}"></script>
<!--지도 생성 script-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_JS_KEY }}&libraries=services"></script>
<script>
  
  {% if comment %}
    $(document).ready(function() {
      var targetScrollPosition = $('#{{ comment_section_id }}').offset().top - 100;

      $('html, body').animate({
        scrollTop: targetScrollPosition
      }, 500);
    });
  {% endif %}

  $('.owl-carousel').owlCarousel({
      startPosition: false,
      loop:true,
      margin:20,
      responsiveClass:true,
      responsive:{
          0:{
              items:5,
              nav:false,
              loop:false
          },
          600:{
              items:7,
              nav:false,
              loop:false
          },
          1000:{
              items:9,
              nav:false,
              loop:false
          }
      }
  })

  var mapContainer = document.getElementById('map')
  var mapOption = {
    center: new kakao.maps.LatLng(33.450701, 126.570667),
    level: 3
  }
  var map = new kakao.maps.Map(mapContainer, mapOption)

  // 주소로 좌표를 검색하고 맵을 업데이트하는 함수
  function updateMap(address, detailAddress) {
    var geocoder = new kakao.maps.services.Geocoder()
    geocoder.addressSearch(address, function(result, status) {
      if (status === kakao.maps.services.Status.OK) {
        var coords = new kakao.maps.LatLng(result[0].y, result[0].x)

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
          content: '<div style="width:150px;text-align:center;padding:6px 0;">' + detailAddress + '</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
      }
    });
  }

  // 맵 크기가 변경될 때 중심 위치 업데이트하기
  function resizeMap() {
    var mapContainer = document.getElementById('map');
    var parentContainer = document.querySelector('.moims--detail--section--map');
    mapContainer.style.width = parentContainer.clientWidth - 40 + 'px';
    mapContainer.style.height = parentContainer.clientHeight - 40 + 'px';
    map.relayout();

    // 주소와 상세 주소를 가져와서 맵 업데이트
    var address = '{{ post.address }}';
    var detailAddress = '{{ post.detail_address }}';
    updateMap(address, detailAddress);
  }

  // 페이지 로드 후 맵 크기 조정 및 중심 위치 업데이트
  window.addEventListener('load', function() {
    resizeMap();
  });

  // 윈도우 리사이즈 이벤트 발생 시 맵 크기 조정 및 중심 위치 업데이트
  window.addEventListener('resize', function() {
    resizeMap();
  });
  
</script>
{% endblock content %}