{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} moims_detail {% endblock title %}

{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/moims_detail.css' %}">

  <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
  <script src="{% static 'owlcarousel/owl.carousel.js' %}"></script>
  
  <link rel="stylesheet" href="{% static 'css/markets_detail.css' %}">
{% endblock header %}

{% block content %}

  <div class='moims--detail'>
    <div class='moims--detail--container'>
      <header class='moims--detail--header'>
        <div>
          <a {% if post.category == 'once' %}href="{% url 'moims:index' %}?category=once"{% else %}href="{% url 'moims:index' %}"{% endif %}>
            <i class="bi bi-arrow-left-short"></i>
          </a>
  
          <section>{{ post.title }}</section>
        </div>

        <button id='moims--detail--share'>
          <i class="bi bi-share"></i>
        </button>
      </header>

      <section class='moims--detail--section'>
        <header class='moims--detail--section--header'>
          <img src="{{ post.image_first.url }}" alt="{{ post.image }}">
        </header>

        <section class='moims--detail--section--head'>
          <a class='moims--detail--section--head--header' href="{% url 'accounts:profile' post.user.username %}">
            {% if post.user.image %}
              <img src="{{ post.user.image.url }}" alt="{{ post.user }}">
            {% else %}
              <img src="{% static 'image/noimage.png' %}" alt="noimage">
            {% endif %}
          </a>

          <div>
            <h1>{{ post.title }}</h1>

            <h2>
              {{ post.user.first_name }}<span>&nbsp;·&nbsp;</span>{{ post.user.town }}<span>&nbsp;·&nbsp;</span>멤버 {{ post.join_users.count }}
            </h2>
          </div>

          <footer>
            <section>
              {% if request.user == post.user %}
                <a href="{% url 'moims:update' post.pk %}">수정</a>
                <form action="{% url 'moims:delete' post.pk %}" method="POST">
                  {% csrf_token %}
                  <button type='submit'>삭제</button>
                </form>
              {% endif %}
              <h3>{{ post.created_time }}</h3>
            </section>
          </footer>
        </section>

        <div class='moims--detail--section--information'>
          <h1>
            <i class="bi bi-geo-alt"></i> 
            {{ post.address }} {{ post.detail_address }}
          </h1>

          <h2>
            <i class="bi bi-calendar"></i> 
            {% if post.category == 'once' %}
              {{ post.once_datetime|date:"D H:i n/j"|lower }}
            {% else %}
              {{ post.many_datetime }}
            {% endif %}
          </h2>

          <h3>
            <i class="bi bi-person"></i> 
            1~{{ post.limit }}명
          </h3>

          <h4>
            <i class="fas fa-won-sign"></i> 
            {% if post.price %}
              {{ post.price|intcomma }}원
            {% else %}
              무료
            {% endif %}
          </h4>
        </div>

        <div class='moims--detail--section--content'>
          {{ post.content|linebreaksbr }}
        </div>

        <div class='moims--detail--section--map'>
          <div id="map"></div>
        </div>

        <div class='moims--detail--section--member'>
          <h1>참여 멤버 ({{ post.join_users.count }}/{{ post.limit }})</h1>

          <div class="owl-carousel owl-theme">
            {% for join_user in post.join_users.all %}
              <a class='moims--detail--section--member--item' href="{% url 'accounts:profile' join_user.username %}">
                {% if join_user.image %}
                  <img src="{{ join_user.image.url }}" alt="{{ join_user }}">
                {% else %}
                  <img src="{% static 'image/noimage.png' %}" alt="noimage">
                {% endif %}
                {% if forloop.counter == 1 %}
                  <div class='moims--detail--section--member--crown'>
                    <img src="{% static 'image/crown.png' %}" alt="crown">
                  </div>
                {% endif %}
              </a>
            {% endfor %}
          </div>
        </div>

        <div class='moims--detail--section--comment'>
          <h2>댓글 <span>{{ post.comments.count }}</span></h2>

          {% if user.is_authenticated %}
            <button class='moims--detail--section--commentcreate--btn'>
              <div>
                {% if request.user.image %}
                  <img src="{{ request.user.image.url }}" alt="{{ request.user.username }}">
                {% else %}
                  <img src="{% static 'image/noimage.png' %}" alt="noimage">
                {% endif %}
              </div>
  
              <h1>
                {{ request.user.first_name }}님, 질문을 작성해 보세요.
              </h1>
            </button>
  
            <form id='moims--detail--section--commentcreate' style='display: none;' action="{% url 'moims:comment_create' post.pk 0 %}" method="POST">
              {% csrf_token %}
              {{ comment_form.content }}
              <div class='d-flex flex-row-reverse'>
                <button class='comment-submit' type='submit'>등록</button>
                <button class='comment-cancle'>취소</button>
              </div>
            </form> 
          {% endif %}
        </div>

        <div class='moims--detail--section--commentlist'>
          {% for comment in comments %}
            <header>
              <header>
                {% if comment.user.image %}
                  <img src="{{ comment.user.image.url }}" alt="{{ comment.user.username }}">
                {% else %}
                  <img src="{% static 'image/noimage.png' %}" alt="noimage">
                {% endif %}
              </header>

              <section>
                {{ comment.user.first_name }}
              </section>

              <footer>
                {{ comment.created_time }}
              </footer>
            </header>

            <section class='moims--detail--section--commentlist--content'>
              {{ comment.content|linebreaksbr }}
            </section>

          {% endfor %}
        </div>
      </section>

      <div style='height: 400px;'></div>
    </div>
  </div>


<!--댓글 목록 수정 삭제-->
<ul>
{% for comment in comments %}
  <li>{{ comment.user }} : {{ comment.content }}</li>
  {% if comment.user == user %}
  <form action="{% url 'moims:comment_update' post.pk comment.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="UPDATE">
  </form>
  <form action="{% url 'moims:comment_delete' post.pk comment.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
  {% endif %}
{% endfor %}
</ul>


<script src="{% static 'js/moims_detail.js' %}"></script>
<!--지도 생성 script-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_JS_KEY }}&libraries=services"></script>
<script>
  $('.owl-carousel').owlCarousel({
      startPosition: false,
      loop:true,
      margin:20,
      responsiveClass:true,
      responsive:{
          0:{
              items:5,
              nav:false,
              loop:false
          },
          600:{
              items:7,
              nav:false,
              loop:false
          },
          1000:{
              items:9,
              nav:false,
              loop:false
          }
      }
  })

  var mapContainer = document.getElementById('map')
  var mapOption = {
    center: new kakao.maps.LatLng(33.450701, 126.570667),
    level: 3
  }
  var map = new kakao.maps.Map(mapContainer, mapOption)

  // 마커를 표시할 위치와 title 객체 배열입니다 
  var positions = [];

  // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
  var bounds = new kakao.maps.LatLngBounds(); 

  // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
  if (navigator.geolocation) {
      
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="width:150px;text-align:center;padding:6px 0;">현재 위치</div>'; // 인포윈도우에 표시될 내용입니다
        
        bounds.extend(locPosition);
        bounds.extend(new kakao.maps.LatLng(lat + 0.00065, lon + 0.00065)); // Extend bounds by adding 0.00065 to latitude and longitude
        map.setBounds(bounds);
        // Append the object to the positions array
        positions.push({ title: '현재 위치', latlng: locPosition });

        displayMarkers();
      });
    
  } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
    
    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
        message = '<div style="width:150px;text-align:center;padding:6px 0;">현재 위치를 사용할수 없어요</div>'
        
    displayMarker(locPosition, message);
  }

  // 주소로 좌표를 검색하고 맵을 업데이트하는 함수
  function updateMap(address, detailAddress) {
    var geocoder = new kakao.maps.services.Geocoder()
    geocoder.addressSearch(address, function(result, status) {
      if (status === kakao.maps.services.Status.OK) {
        var coords = new kakao.maps.LatLng(result[0].y, result[0].x)


        bounds.extend(coords);
        bounds.extend(new kakao.maps.LatLng(coords.getLat() + 0.00065, coords.getLng() + 0.00065)); // Extend bounds by adding 0.00065 to latitude and longitude
        map.setBounds(bounds);
        // Append the object to the positions array
        positions.push({ title: detailAddress, latlng: coords });

        displayMarkers();
      }
    });
  }

  // 마커 이미지의 이미지 주소입니다
  var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
      
  // Function to display the markers on the map
  function displayMarkers() {
    for (var i = 0; i < positions.length; i++) {
      // 마커 이미지의 이미지 크기 입니다
      var imageSize = new kakao.maps.Size(24, 35);

      // 마커 이미지를 생성합니다
      var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image: markerImage // 마커 이미지
      });

      // Create the content for the infowindow
      var lat = positions[i].latlng.getLat();
      var lng = positions[i].latlng.getLng();

      var iwContent = '<div style="width:150px;text-align:center;padding:6px 0;">' +
        positions[i].title + '<br>';
  
      // Add the link if title is not '현재위치'
      if (positions[i].title !== '현재 위치') {
        iwContent += '<a href="https://map.kakao.com/link/to/' +
          positions[i].title + ',' + lat + ',' + lng +
          '" style="color:blue" target="_blank">길찾기</a>';
      }
  
      iwContent += '</div>';
  
      // Create the infowindow
      var infowindow = new kakao.maps.InfoWindow({
        position: positions[i].latlng,
        content: iwContent
      });
  
      // Open the infowindow on the marker
      infowindow.open(map, marker);
    }
  }

  // Call the displayMarkers function once to show the initial markers
  displayMarkers();

  // 맵 크기가 변경될 때 중심 위치 업데이트하기
  function resizeMap() {
    var mapContainer = document.getElementById('map');
    var parentContainer = document.querySelector('.moims--detail--section--map');
    mapContainer.style.width = parentContainer.clientWidth - 40 + 'px';
    mapContainer.style.height = parentContainer.clientHeight - 40 + 'px';
    map.relayout();

    // 주소와 상세 주소를 가져와서 맵 업데이트
    var address = '{{ post.address }}';
    var detailAddress = '{{ post.detail_address }}';
    updateMap(address, detailAddress);
  }

  // 페이지 로드 후 맵 크기 조정 및 중심 위치 업데이트
  window.addEventListener('load', function() {
    resizeMap();
  });

  // 윈도우 리사이즈 이벤트 발생 시 맵 크기 조정 및 중심 위치 업데이트
  window.addEventListener('resize', function() {
    resizeMap();
  });
  
</script>
{% endblock content %}