{% extends 'base.html' %}
{% load static %}
{% block title %}
  {% if request.GET.category == 'once' %}
    moims_once
  {% else %}
    moims_many
  {% endif %}
{% endblock title %}

{% block header %}
  <link rel="stylesheet" href="{% static 'css/moims.css' %}">
  <script src="{% static 'owlcarousel/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
  <script src="{% static 'owlcarousel/owl.carousel.js' %}"></script>
{% endblock header %}

{% block content %}


{% comment %} moims 네브바 {% endcomment %}
<header class='moims--index--header'>
  <section class='moims--index--container'>
    <div>
        <button id='moims--index--address'>
          {% if request.GET.dis == 'town' %}
            {{ request.user.town }}
          {% else %}
            {{ request.user.building }} 
          {% endif %}
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>
      
      <div class="d-flex align-items-center">
        <div class='moims--index--search--div'>
          <form id='moims--index--search--block' class='d-none'>
            <input type="hidden" name='dis' value='{{ request.GET.dis }}'>
            <input type="hidden" name='category' value='{{ request.GET.category }}'>
            <input name='q' type="search">

            <button type='submit'>
              <i class="bi bi-search"></i>
            </button>
          </form>
          
          <button id='moims--index--search'><i class="bi bi-search"></i></button>
        </div>
        
        <button id='moims--index--filter'>
          {% if request.GET.category == 'once' %}
            <i class="bi bi-calendar-event"></i>
          {% else %}
            <i class="bi bi-calendar-week"></i>
          {% endif %}
        </button>
      </div>
    </section>
  </header>

  <div class='moims--index--container'>

    {% comment %} 모달 {% endcomment %}
    <div id="moims--index--filter--block" class='d-none'>
      <header>
        <button id='moims--index--filter--close'>
          <i class="bi bi-x-lg"></i>
        </button>
      </header>

      <form action="{% url 'moims:index' %}">
        <input type="hidden" name='dis' value='{{ request.GET.dis }}'>

        <h1>원하시는 카테고리가 뭔가요?</h1>

        <button type='submit' {% if not request.GET.category %}class='moims--index--opacity--100'{% endif %}>
          정기모임
        </button>

        <button type='submit' name='category' value='once' {% if request.GET.category == 'once' %}class='moims--index--opacity--100'{% endif %}>
          당일모임
        </button>
      </form>
    </div>

    <div id="moims--index--address--block" class='d-none'>
      <header>
        <button id='moims--index--address--close'>
          <i class="bi bi-x-lg"></i>
        </button>
      </header>

      <form action="{% url 'moims:index' %}">
        <input type="hidden" name='category' value='{{ request.GET.category }}'>

        <h1>원하시는 범위를 설정해 주세요!</h1>
        <button type='submit' name='dis' value='town' {% if request.GET.dis == 'town' %}class='moims--index--opacity--100'{% endif %}>
          <i class="bi bi-geo-alt me-2"></i>
          <span>{{ request.user.town }}</span>
        </button>

        <button type='submit' name='dis' value='building' {% if request.GET.dis == 'building' or not request.GET.dis %}class='moims--index--opacity--100'{% endif %}>
          <i class="bi bi-building me-2"></i>
          {{ request.user.building }}
        </button>
      </form>
    </div>



    <div class="moims--container">
      {% if request.GET.category == 'once' %}
        {% include "moims/once.html" %}
      {% else %}
        <section class="moims--index--section">
          <div class="many--moims">
            {% for post in posts %}
              <a href="{% url 'moims:detail' post.pk %}" class="many--moim--content ratio ratio-1x1">
                <div class="many--moim--box">
                  <div class="many--image--box">
                    <img src="{{ post.image.url }}" alt="{{ post.title }} 이미지" class="many--moim--image ratio ratio-4x3">
                  </div>
                  <div class="many--moim--txt">
                    <div class="user--info">
                      <div class="user--imgbox">
                        {% if post.user.image %}
                          <img src="{{ post.user.image.url }}" alt="image">
                        {% else %}
                          <img src="{% static 'image/noimage.png' %}" alt="blank-profile-image">
                        {% endif %} 
                      </div>
                      {{ post.user }}
                    </div>

                    <h1>{{ post.title }}</h1>
                    <p>
                      <span>{{ post.town }} {{ post.many_datetime }}</span>
                    </p>
                    <p>
                      참여멤버({{ post.join_users.all|length }}/{{ post.limit }})
                    </p>

                  </div>
                </div>
              </a>
            {% empty %}
              {% if request.GET.q %}
                <div class='moims--index--empty'>일치하는 검색어가 없습니다 😥</div>
              {% else %}
                <div class='moims--index--empty'>제일 먼저 모임 글을 작성해 보세요! 😃</div>
              {% endif %}
            {% endfor %}
          </div>
        </section>
      {% endif %}
    </div>
  </div>
  
  <footer class='moims--index--create'>
    <a href="{% url 'moims:create' %}">
      <img class='w-100' src="{% static 'image/plus.svg' %}" alt="plus">
    </a>
  </footer>

<script src="{% static 'js/moims.js' %}"></script>
<script>
  $('.owl-carousel').owlCarousel({
    startPosition: false,
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:5,
            nav:false,
            loop:false
        },
        400:{
            items:7,
            nav:false,
            loop:false
        },
        500:{
          items:9,
          nav:false,
          loop:false
        },
        600:{
          items:11,
          nav:false,
          loop:false
        },
        800:{
            items:13,
            nav:false,
            loop:false
            }
        }
    })
</script>

{% endblock content %}