{% load static %}
{% load humanize %}

<section class="moims--index--section">
  {% for post in posts %}
    <div class="once--moim">
      <a href="{% url 'moims:detail' post.pk %}" class="once--moim--link">
        <h1>{{ post.title }}</h1>
        <div class="d-flex align-items-center">
          <div class="once--calendar">
            <span>{{ post.once_datetime|date:'l' }}</span>
            <p>{{ post.once_datetime|date:'d' }}</p>
          </div>
          <div class="once--moim--txt">
            <p><i class="bi bi-calendar"></i>{{ post.once_datetime|date:'F j일 A g:i' }}</p>
            <p><i class="bi bi-geo-alt"></i>{{ post.address }} {{ post.detail_address }}</p>
            <p><i class="bi bi-cash-coin"></i>{{ post.price|intcomma }}</p>
          </div>
        </div>
      </a>
      <div class="member--box">
        <p class="once--moim--member">
          참여멤버({{ post.join_users.all|length }}/{{ post.limit }})
        </p>

        <div class="owl-carousel owl-theme">
          {% for join_user in post.join_users.all %}
            <a class='once--moim--profile' href="{% url 'accounts:profile' join_user.username %}">
              {% if join_user.image %}
                <img src="{{ join_user.image.url }}" alt="{{ join_user }}">
              {% else %}
                <img src="{% static 'image/noimage.png' %}" alt="noimage">
              {% endif %}
              {% if forloop.counter == 1 %}
                <div class='moims--member--crown'>
                  <img src="{% static 'image/crown.png' %}" alt="crown">
                </div>
              {% endif %}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    
  {% empty %}

  {% endfor %}

</section>
