{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-md my-5">
  <form action="{% url 'moims:search' %}" method='GET'>
    <div class="search_container input-group flex-nowrap">
      <span class="search-icon"><i class="bi bi-search"></i></span>
      <input type="text" class="search_text" placeholder="검색어를 입력하세요" name="search">
      <input type="submit" class="search_submit" value="검 색">
    </div>
  </form>
  {% if search_text %}
    {% if cate == 'many' %}
    <h3 class="m-3">검색하신 <span>{{ search_text }}</span>에 대한 정기 모임 검색 결과입니다.</h3>
    {% elif cate == 'once' %}
    <h3 class="m-3">검색하신 <span>{{ search_text }}</span>에 대한 당일 모임 검색 결과입니다.</h3>
    {% else %}
    <h3 class="m-3">검색하신 <span>{{ search_text }}</span>에 대한 전체 모임 검색 결과입니다.</h3>
    {% endif %}
    {% for post in search_list %}
      <a href="{% url 'moims:detail' post.pk %}" class="d-flex p-2 text-decoration-none text-dark">
        <div class="">
          <img src="{{ post.image.url }}" alt="">
        </div>
        <div class="flex-shrink-1 ms-3">
          <p class="fs-4">{{ post.title }}</p>
          <p>{{ post.address }}</p>
          <p>{{ post.town }} {{ post.detail_address }}</p>
          <p>{{ post.content }}</p>
        </div>
      </a>
    {% empty %}
      <h3><span>{{ search_text }}</span>에 대한 결과가 없습니다.</h3>
    {% endfor %}
  {% else %}
    <h3>검색어를 입력해주세요.</h3>
  {% endif %}
</div>
{% endblock content %}