/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* live alarm */

.livealarm {
	display: block;
	position: fixed;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	padding: 18px 30px;
	background-color: rgb(50 50 50);
	color: white;
	text-decoration: none;
	font-size: 16px;
	border-radius: 10px;
	font-weight: bold;
	line-height: 20px;
	white-space: nowrap;
	z-index: 1200;
}

.livealarm:hover {
	background-color: rgb(20 20 20);
}

.livealarm span {
	color: #FEE500;
}

#side-alarm {
	position: fixed;
	bottom: 20px;
	right: 30px;
}

#side-alarm .sidelivealarm {
	display: block;
	padding: 18px 30px;
	background-color: rgb(50 50 50);
	color: white;
	text-decoration: none;
	font-size: 15px;
	border-radius: 10px;
	font-weight: bold;
	line-height: 20px;
	z-index: 1200;
	margin-top: 20px;
	max-width: 320px;
}

#side-alarm .sidelivealarm div {
	margin-bottom: 10px;
}

#side-alarm .sidelivealarm span {
	color: #FEE500;
}

#side-alarm .sidelivealarm section {
	font-size: 14px;
	display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

@media (max-width: 800px) {
	.livealarm {
		font-size: 14px;
		padding: 14px 24px;
		top: 60px;
		bottom: auto;
	}
}