@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.footer {
    background-color: rgb(48, 55, 64); 
    padding: 0;
    color: lightgray;
}

.footer--container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 20px;
    font-size: medium;
}

.footer--section {
    flex: 1;
}

.footer--section--textend {
    text-align: end;
}

.footer--section a {
    text-decoration: none;
}

.footer--section h1,
.footer--section p {
    padding: 1rem 0;
}
.footer--section i {
    margin-right: 2rem; /* 아이콘 간격 조절 필요 */
    color: #FFC93C;
    font-size: 2.5rem;
}

.footer--section i:hover {
    color: white;
}

.footer--copyright {
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content: start;
    padding: 15px 20px;
}

@media (max-width: 1000px) {
    .footer--container {
        max-width: 100%;
    }

    .footer--copyright {
        width: 100%;
    }
}
/* 
@media (max-width: 768px) {
    .footer--container {
        flex-direction: row;
        flex: 2;
        display: flex;
        justify-content: center;
        font-size: smaller;
    }
    .footer--section h1,
    .footer--section p {
    padding: 0.5rem 0;
    }
    .footer--section i {
        margin-bottom: 1rem;
    }

    .footer--section--textend {
        padding-right: 0;
    }
} */

@media (max-width: 800px) {
    .footer {
        display: none;
    }
}

/* 수정 */

.footer--section--list {
  flex: 0.3;
}

.footer--section--list h1 {
  color:white;
}

.footer--section--list h1 i {
  font-size: 17px;
  color: white;
  margin-right: 5px;
}

.footer--section--list h1 .bi-box-arrow-up-right {
  font-size: 16px;
}

.footer--section--list a {
  display: block;
  padding: 5px 0;
  color: lightgray;
  font-size: 15px;
}

.footer--section--list a:hover {
  color: white;
}
