{% extends 'base.html' %}
{% load static %}
{% block title %} 비밀번호 변경 {% endblock title %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}"> 
{% endblock header %}

{% block content %}

<div class="accounts--container">
  <p class="accounts--title">비밀번호 변경</p>
  <form action="{% url 'accounts:change_password' %}" method="POST" enctype="multipart/form-data" onsubmit="finish(event)">
    {% csrf_token %}
    <p>{{ form.old_password }}</p>
    <p>{{ form.new_password1 }}</p>
    <p>{{ form.new_password2 }}</p>
    <div class="btn--box">
      <input type="submit" value="비밀번호 변경" class="accounts--btn">
      <input type="button" value="뒤로가기"  class="accounts--btn" onclick="window.history.back()">
    </div>
  </form>
</div>

<script src="{% static 'js/accounts.js' %}" type="text/javascript"></script>
{% endblock content %}