{% extends 'base.html' %}
{% load static %}
{% block title %} 로그인 {% endblock title %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}"> 
{% endblock header %}

{% block content %}

<div class="accounts--container">

  {% comment %} logo {% endcomment %}
  <div class="login--logo">
    <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M2.5 9.5L12 4L21.5 9.5" stroke="#34568b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M7 21V20C7 17.2386 9.23858 15 12 15V15C14.7614 15 17 17.2386 17 20V21" stroke="#34568b" stroke-width="1.5"></path> <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="#34568b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    혼거동락
  </div>

  <div class="login--form--box">
    {% comment %} login form {% endcomment %}
    <form action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token %}
      <div class="accounts--login--box">
        {{ form.username }}
        {{ form.password }}
        {% if form.errors.username %}
          <p class="error-message">{{ form.errors.username }}</p>
        {% endif %}
        {% if form.errors.password %}
          <p class="error-message">{{ form.errors.password }}</p>
        {% endif %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <input type="submit" value="로그인" class="accounts--btn">
    </form>

    {% comment %} social login {% endcomment %}
    {% load socialaccount %}
    <a href="{% provider_login_url 'kakao' method='oauth2' %}" class="accounts--btn">
      <i class="bi bi-chat-fill"></i> 카카오 로그인
    </a>

    {% comment %} another button {% endcomment %}
    <div class="accounts--btn--box">
      <a href="{% url 'accounts:password_reset' %}">비밀번호 재설정</a>
      <a href="{% url 'accounts:signup' %}">회원가입</a>
    </div>
  </div>

</div>
{% endblock content %}