{% extends 'base.html' %}
{% load static %}
{% block title %} password Done{% endblock title %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}"> 
{% endblock header %}

{% block content %}
  <div class="accounts--container">
    <div>
      <p class="accounts--title">패스워드 변경 완료</p>
    <hr>
        <p style="font-size:0.9rem;">패스워드 변경이 완료되었습니다.<br>다시 로그인 해주세요.</p>
        <a href="{% url 'accounts:login' %}"  class="accounts--btn" >로그인</a>
    </div>
  </div>
{% endblock %}