{% extends 'base.html' %}
{% load static %}
{% block title %} 비밀번호 재설정 {% endblock title %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}"> 
{% endblock header %}

{% block content %}
  <div class="accounts--container">
    <div>
      <p class="accounts--title">비밀번호 재설정</p>
    <hr>
        <p style="font-size:0.9rem;">새 비밀번호를 입력해 주세요.</p>
        <form method="POST" class="reset--pasword--form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="accounts--btn">비밀번호 변경</button>
        </form>
    </div>
  </div>
{% endblock %}