{% extends 'base.html' %}
{% load static %}
{% block title %} signup {% endblock title %}
{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}"> 
{% endblock header %}

{% block content %}

<div class="accounts--container">
  <div class="signup--container">
    <p class="accounts--title">회원가입</p>
    {% comment %} 약관동의 {% endcomment %}
    <div class="checkbox--group">
      <div class="checkbox--group--box">
        <input type="checkbox" id="check_all" >
        <label for="check_all">전체 동의</label>
      </div>
      
      <div class="checkbox--group--box">
        <input type="checkbox" id="check_1" class="normal" >
        <label for="check_1">개인정보 처리방침 동의 <span>(필수)</span></label>
      </div>

      <div class="checkbox--group--box">
        <input type="checkbox" id="check_2" class="normal" >
        <label for="check_2">서비스 이용약관 동의 <span>(필수)</span></label>
      </div>
      
      <div class="checkbox--group--box">
        <input type="checkbox" id="check_3" class="normal" >
        <label for="check_3">마케팅 수신 동의 <span>(필수)</span></label>
      </div>
      
    </div>
    <form action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <p>
        <div class="d-flex">
          {{ form.username }}
          <button type="button" class="id--check--btn">중복 확인</button>
        </div>
        <span id="id-check-result"></span>
      </p>
      <p>{{ form.password1 }}</p>
      <p>{{ form.password2 }}</p>
      <p>        
        <div class="d-flex">
          {{ form.email }}
          <button type="button" class="email--check--btn">중복 확인</button>
        </div>
        <span id="email-check-result"></span>
      </p>
      <p>{{ form.last_name }}</p>
      <p>{{ form.first_name }}</p>
      <p id="first-name-error"></p>
      <p class="label--box">{{ form.gender.label}}</p><p class="label--box">{{ form.age.label}}</p>
      <div class="signup--select--box">{{ form.gender }}{{ form.age }}</div>
      <div>{{ form.image_first.label}}{{ form.image_first }}</div>
      <input type="text" id="s_address" placeholder="주소" name="address" class="signup--form" autocomplete="off">
      <div class="address--box">
        <input type="text" id="t_address" placeholder="동네" name="t_address" class="signup--form" autocomplete="off">
        <input type="text" id="b_address" placeholder="건물명" name="b_address" class="signup--form" autocomplete="off">
        <input type="button" onclick="search_address()" value="주소 검색" class="address--btn">
      </div>
      <div id="dialog" class="dialog hidden">
        <p id="dialog-message"></p>
      </div>
      <div id="map" style="width:auto;height:350px;"></div>
      <input type="submit" value="회원가입" class="accounts--btn" id="submit_button">
      <p class="relogin--txt">이미 아이디가 있으신가요?<a type="button" href="{% url 'accounts:login' %}">로그인</a></p>
    </form>
  </div>
  
</div>

<script>
  var idOverlapCheckUrl = "{% url 'accounts:id_overlap_check' %}";
  var emailOverlapCheckUrl = "{% url 'accounts:email_overlap_check' %}";
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/check.js' %}" type="text/javascript"></script>
<script src="{% static 'js/signup.js' %}" type="text/javascript"></script>
<script src="{% static 'js/accounts.js' %}" type="text/javascript"></script>
<!--지도 생성 script-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_JS_KEY }}&libraries=services,geometry"></script>
<script src="{% static 'js/map.js' %}" type="text/javascript"></script>
{% endblock content %}