{% extends 'base.html' %}
{% load static %}

{% block title %}
  내 채팅 리스트
{% endblock title %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}"> 
{% endblock header %}

{% block content %}
    <div class="chats--container">
      <div class="chats--title">채팅 리스트</div>
        {% for chatroom in chatrooms %}
          {% if chatroom.user2 is null or chatroom.user1 is null %}
            <div class="chat--box">
              <div class="chat--profile">
                <img src="{% static 'image/noimage.png' %}" alt="noimage">
              </div>
              <div class="chat--txt">
                <div class="delete--user">
                  탈퇴한 회원
                </div>
                <div class="chat--txt--info">
                  <span class="chat--message">{{ chatroom.get_latest_message.content }}</span>
                  <span class="chat--created">{{ chatroom.get_latest_message.created_time }}</span>
                </div>
              </div>
            </div>
          {% elif chatroom.user2 != user %}
            <a href="{% url 'chats:room' chatroom.user2.first_name %}" class="chat--link" id="{{chatroom.user2}}">
              <div class="chat--box">
                {% if chatroom.user2.image %}
                  <div class="chat--profile">
                    <img src="{{chatroom.user2.image.url}}" alt="profile_image">
                    <header class='loginStatus'></header>
                  </div>
                {% else %}
                  <div class="chat--profile">
                    <img src="{% static 'image/noimage.png' %}" alt="noimage">
                    <header class='loginStatus'></header>
                  </div>
                {% endif %}

                {% if chatroom.user2.is_login %}
                  <p class="status--login status--log" id="user{{chatroom.user2.is_login}}"></p>
                {% else %}
                  <p class="status--logout status--log" id="user{{chatroom.user2.is_login}}"></p>
                  <p class="status--log--black"></p>
                {% endif %}

                <div class="chat--txt">
                  <div>
                    {% if chatroom.user1 == chatroom.user2 %}
                    <i class="bi bi-person-circle"></i>
                    {% endif %}
                    {{ chatroom.user2.first_name }}

                  </div>
                  {% comment %} {% if chatroom.get_latest_message.sender == user %} {% endcomment %}
                  <div class="chat--txt--info">
                    <span class="chat--message">{{ chatroom.get_latest_message.content }}</span>
                    <span class="chat--created">{{ chatroom.get_latest_message.created_time }}</span>
                  </div>
                  {% comment %} {% else %}
                  <div>최근 대화 내용 : {{ chatroom.get_latest_message.sender.first_name }} : {{ chatroom.get_latest_message.content }}</div>
                  {% endif %} {% endcomment %}
                </div>
              </div>
            </a>
          {% else %}
            <a href="{% url 'chats:room' chatroom.user1.first_name %}" class="chat--link" id="{{chatroom.user1}}">
              <div class="chat--box">
                {% if chatroom.user1.image %}
                  <div class="chat--profile">
                    <img src="{{chatroom.user1.image.url}}" alt="profile_image">
                    <div>aa</div>
                    <header class='loginStatus'></header>
                  </div>
                  {% else %}
                  <div class="chat--profile">
                    <img src="{% static 'image/noimage.png' %}" alt="noimage">
                    <div>aa</div>
                    <header class='loginStatus'></header>
                  </div>
                {% endif %}

                {% if chatroom.user2.is_login %}
                  <p class="status--login status--log" id="user{{chatroom.user2.is_login}}"></p>
                {% else %}
                  <p class="status--logout status--log" id="user{{chatroom.user2.is_login}}"></p>
                  <p class="status--log--black"></p>
                {% endif %}
                
                <div class="chat--txt">
                  <div>
                    {% if chatroom.user1 == chatroom.user2 %}
                    <i class="bi bi-person-circle"></i>
                    {% endif %}
                    {{ chatroom.user1.first_name }}

                  </div>
                  <div class="chat--txt--info">
                    <span class="chat--message">{{ chatroom.get_latest_message.content }}</span>
                    <span class="chat--created">{{ chatroom.get_latest_message.created_time }}</span>
                  </div>
                </div>
              </div>
            </a>
          {% endif %}
        {% endfor %}
    </div>
    <script src="{% static 'js/chat_index.js' %}"></script>
{% endblock content %}