.cscenter--index--container {
  width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  min-height: 78vh;
  position: relative;
}

.cscenter--index--header {
  font-size: 25px;
  font-weight: bold;
  color: rgb(30 30 30);
  line-height: 34px;
  padding-top: 40px;
}

.cscenter--index--section h1 {
  font-size: 20px;
  padding: 15px 0;
  padding-top: 40px;
  color: #34568b;
  font-weight: bold;
}

.cscenter--index--section section a {
  display: block;
  text-decoration: none;
  color: rgb(90 90 90);
  font-size: 16px;
  padding: 20px 20px;
  border-bottom: 1px solid rgb(240 240 240);
}

.cscenter--index--section section a:hover {
  background-color: rgb(245 245 245);
}

.cscenter--index--section--category {
  padding: 10px;
}

.cscenter--index--section--category button {
  background-color: white;
  border: 1px solid rgb(220 220 220);
  border-radius: 20px;
  font-size: 15px;
  padding: 10px 14px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.cscenter--index--section--category button:hover,
.cscenter--index--section--category--btnhover {
  background-color: #34568b!important;
  color: white;
}

.cscenter--index--section footer {
  display: flex;
  justify-content: space-between;
}

.cscenter--index--section footer a {
  display: block;
  padding: 12px 14px;
  text-decoration: none;
  color: rgb(40 40 40);
  font-size: 15px;
  border-radius: 10px;
  height: 40px;
  margin-top: 30px;
  background-color: rgb(240 240 240);
}

.cscenter--index--section footer a:hover {
  background-color: rgb(204, 204, 204);
}

.cscenter--navbar {
  position: sticky;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: rgb(30 30 30);
  background-color: white;
  z-index: 100;
  height: 45px;
  border-bottom: 1px solid rgb(240 240 240);
  width: 100%;
  color: #34568b;
}

.cscenter--navbar div {
  display: flex;
  align-items: start;
}

.cscenter--navbar div section {
  margin-top: 6px;
  margin-left: 5px;
}

@media (max-width: 800px) {
  .cscenter--index--container {
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
  }

  .cscenter--index--header {
    padding-top: 20px;
  }

  .cscenter--navbar {
    display: flex;
  }
}