{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} markets_detail {% endblock title %}

{% block header %}
  <script src="{% static 'owlcarousel/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
  <script src="{% static 'owlcarousel/owl.carousel.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/markets_detail.css' %}">
{% endblock header %}

{% block content %}

  <div class='markets--detail'>
    <section class='markets--detail--container'>
      <div class='markets--carousel--dblock'>
        <div class="owl-carousel owl-theme">
          {% for postimage in post.postimages.all %}
            <button class='item owl--carousel--item' value="{{ forloop.counter }}">
              <img src="{{ postimage.image.url }}" alt="{{ post.title }}">
            </button>
          {% endfor %}
        </div>
        <a class="owl--carousel--back" href="{% url 'markets:index' %}">
          <i class="bi bi-chevron-left"></i>
        </a>

        <button class='owl--carousel--share'>
          <i class="bi bi-share"></i>
        </button>

        <div class='owl--carousel--collapse d-none'>
          <button id='owl--carousel--collapse--url'>
            <i class="bi bi-cloud-arrow-up-fill"></i> <span>URL</span>
          </button>

          <a href="https://twitter.com/intent/tweet?text=혼거동락_{{ post.title }}&url=http://127.0.0.1:8000/markets/{{ post.pk }}/" data-toggle="tooltip" data-placement="top" title="" target="_blank" rel="noopener" aria-label="Twitter" data-original-title="Twitter">
            <i class="bi bi-twitter"></i> <span>Twitter</span>
          </a>

          <a id="kakaotalk-sharing-btn" href="javascript:shareMessage()">
            <i class="bi bi-chat-fill"></i> <span>KaKao</span>
          </a>
        </div>
      </div>

      <div class='markets--carousel--dnone d-none'>
        <div class="owl-carousel owl-theme">
          {% for postimage in post.postimages.all %}
            <button class='item owl--carousel--item' value="{{ forloop.counter }}">
              <img src="{{ postimage.image_first.url }}" alt="{{ post.title }}">
            </button>
          {% endfor %}
        </div>

        <button class='owl--carousel--close'>
          <i class="bi bi-x"></i>
        </button>
      </div>

      {% comment %} 디테일 헤더 {% endcomment %}
      <a class='markets--detail--header' href="{% url 'accounts:profile' post.user.username %}">
        <div class='markets--detail--header--left'>
          <header>
            {% if post.user.image %}
              <img src="{{ post.user.image.url }}" alt="{{ post.user }}">
            {% else %}
              <img src="{% static 'image/noimage.png' %}" alt="noimage">
            {% endif %}
          </header>

          <div>
            <h1>{{ post.user.first_name }}</h1>

            <h2>{{ post.user.town }} {{ post.user.building }}</h2>
          </div>
        </div>

        <div class='markets--detail--header--right'>
          <h1>{{ post.user.maum }}cm</h1>

          <h2>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: {{ post.user.maum }}%"></div>
            </div>
          </h2>

          <h3 id='markets--detail--header--info'>마음거리 <i class="bi bi-info-circle"></i></h3>

          <div class='markets--detail--header--infobox d-none'>
            <span>마음거리란?</span><br><br>
            가까울수록<br>
            매너가<br>
            좋아요!
          </div>
        </div>
      </a>

      <section class='markets--detail--section'>
        <h1>{{ post.title }}</h1>

        <h2>
          {% if post.price %}
            중고<span>&nbsp;·&nbsp;</span>{{ post.created_time }}
          {% else %}
            나눔<span>&nbsp;·&nbsp;</span>{{ post.created_time }}
          {% endif %}
        </h2>

        <h4>{{ post.content|linebreaksbr }}</h4>

        <div class="markets--detail--info">
          <div>
            <h5>관심 <span id='markets--detail--section-likecount'>{{ post.like_users.count }}</span><span>&nbsp;·&nbsp;</span>채팅 ??<span>&nbsp;·&nbsp;</span>조회 {{ post.views }}</h5>
          </div>
          {% if request.user == post.user %}
            <div>
              <h5><a href="{% url 'markets:update' post.pk %}" style="margin-right:8px;">수정</a> <a href="{% url 'markets:delete' post.pk %}"  onclick="return confirm('삭제하시겠습니까?')">삭제</a></h5>
            </div>
          {% endif %}
        </div>
      </section>

      {% comment %} 디테일 푸터 {% endcomment %}
      <footer class='markets--detail--footer'>
        <h1 class='markets--detail--footer--title'>{{ post.user.first_name }}님의 판매상품</h1>

        <section class='markets--detail--footer-section'>
          {% for user_post in user_posts %}
            <a class='markets--detail--footer-section--item' href="{% url 'markets:detail' user_post.pk %}">
              <header>
                <img src="{{ user_post.postimages.first.image.url }}" alt="{{ user_post.user.username }}">
              </header>

              <section>
                <h1>{{ user_post.title }}</h1>

                <h2>
                  {% if user_post.price %}
                    {{ user_post.price|intcomma }}원
                  {% else %}
                    무료 나눔
                  {% endif %}
                </h2>

                <h3>{{ user_post.user.town }} {{ user_post.user.building }}</h3>

                <h4>관심 {{ user_post.like_users.count }}<span>&nbsp;·&nbsp;</span>조회 {{ user_post.views }}</h4>
              </section>
            </a>
          {% empty %}
            <div class='markets--detail--footer--empty'>
              {{ post.user.first_name }}님의 다른 판매상품이 없습니다 😥
            </div>
          {% endfor %}
        </section>
      </footer>

      {% comment %} 알림창 {% endcomment %}
      <div id='markets--detail--alert' style='display: none;'>
        <h1>관심목록에 추가됐어요.</h1>
        
        <a href="{% url 'accounts:profile' request.user.username %}?cate=markets">관심목록보기</a>
      </div>

      {% comment %} 하단 네비바 {% endcomment %}
      <nav class='markets--detail--navbar'>
        <div class='markets--detail--navbar--left'>
          <form id='markets--detail--like--form' data-post-id="{{ post.pk }}">
            {% csrf_token %}
            {% if request.user not in post.like_users.all %}
              <button type='submit'>
                <i class="bi bi-heart"></i>
              </button>
            {% else %}
              <button type='submit'>
                <i class="bi bi-heart-fill"></i>
              </button>
            {% endif %}
          </form>
  
          <div>
            {% if post.price %}
              {{ post.price|intcomma }}원
            {% else %}
              무료 나눔
            {% endif %}
          </div>
        </div>

        <a class='markets--detail--navbar--right' href="{% url 'chats:room' post.user.username %}">
          채팅하기
        </a>
      </nav>

    </section>
  </div>

  <script>
    $('.owl-carousel').owlCarousel({
        startPosition: false,
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:false,
                loop:false
            },
            600:{
                items:1,
                nav:false,
                loop:false
            },
            1000:{
                items:1,
                nav:false,
                loop:false
            }
        }
    })
  </script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.2.0/kakao.min.js"
  integrity="sha384-x+WG2i7pOR+oWb6O5GV5f1KN2Ko6N7PTGPS7UlasYWNxZMKQA63Cj/B2lbUmUfuC" crossorigin="anonymous"></script>
  <script>
    Kakao.init('{{ KAKAO_JS_KEY }}'); // 사용하려는 앱의 JavaScript 키 입력
  </script>
  <script>
    function shareMessage() {
      Kakao.Share.sendDefault({
        objectType: 'feed',
        content: {
          title: '{{ post.title }}',
          description: '플리마켓',
          imageUrl: 'https://1.bp.blogspot.com/-mJ5jFeNA4gQ/X79hVOtDv8I/AAAAAAAAQYk/p5C-cInqnT8mIJ_i5BNNwKcCBh-1P1UOACLcBGAsYHQ/s625-rw/money%2Brain.jpg',
          link: {
            // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
            webUrl: 'http://127.0.0.1:8000/',
          },
        },
        social: {
          likeCount: {{ post.like_users.count }},
        },
        buttons: [
          {
            title: '웹으로 보기',
            link: {
              webUrl: 'http://127.0.0.1:8000/markets/{{ post.pk }}/',
            },
          },
        ],
      });
    }
  </script>
{% endblock content %}

{% block script %}
  <script src="{% static 'js/markets_detail.js' %}"></script>
{% endblock script %}