{% extends 'base.html' %}
{% load static %}
{% block title %} markets_update {% endblock title %}

{% block header %}
  <link rel="stylesheet" href="{% static 'markets/css/markets.css' %}">
{% endblock header %}

{% block content %}

  <form action="{% url 'markets:update' post.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ post_form.as_p }}
    {{ delete_form.as_p }}
    {{ postimage_form.as_p }}
    <button type='submit'>등록</button>
  </form>

{% endblock content %}